dmx-serverconnect {
display: none
}

html {
height:auto;
min-height:100vh !important;
}

body {
height:auto;
background-color:rgba(255.0, 255.0, 255.0, 1.0);
}

#database-reset_div {
height:auto;
min-height:100vh !important;
}

w-include {
height:0px !important;
}

#get_info {
display:none;
position:relative;
}

#is_admin {
display:none;
}

#is_user {
display:none;
}

#database-reset {
flex-direction:row;
display:flex;
gap:10.0px;
justify-content:center;
align-items:center;
padding-top:10.0px;
padding-bottom:10.0px;
height:inherit;
min-height:inherit;
background-color:rgba(255.0, 255.0, 255.0, 1.0);
}

#_41_778 {
position:relative;
flex-direction:column;
display:flex;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_I41_778-11_4369 {
position:relative;
flex-direction:column;
display:flex;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_I41_778-11_4369-11_3883 {
position:relative;
flex-direction:column;
display:flex;
gap:20.0px;
height:fit-content;
width:350.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#var_error_message {
display:none;
position:relative;
}

#_I41_778-11_4369-11_3883-11_2113 {
position:relative;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
font-family:Roboto;
font-weight:400;
font-size:24.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
}

#_I41_778-11_4369-11_3883-11_2114 {
position:relative;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
font-family:Roboto;
font-weight:500;
font-size:20.0px;
letter-spacing:0.15000000596046448px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(95.00000193715096, 99.00000169873238, 104.00000140070915, 1.0);
display:flex;
}

#form {
position:relative;
flex-direction:column;
display:flex;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#input {
position:relative;
height:fit-content;
width:fit-content;
padding-left:unset;
padding-right:unset;
resize:none;
background-color:rgba(0, 0, 0, 0);
outline:none;
border-width:0px;
font-family:Roboto;
font-weight:500;
font-size:20.0px;
letter-spacing:0.15000000596046448px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
}

#_I41_778-11_4369-11_3883-106_746 {
position:relative;
flex-direction:column;
display:flex;
gap:20.0px;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#Admin_email {
position:relative;
flex-direction:column;
display:flex;
gap:10.0px;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_I41_778-11_4369-11_3883-9_237-9_234 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Roboto;
font-weight:400;
font-size:16.0px;
letter-spacing:0.15000000596046448px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
}

#_I41_778-11_4369-11_3883-9_237-9_235 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
align-items:center;
padding-left:10.0px;
padding-right:10.0px;
padding-top:10.0px;
padding-bottom:10.0px;
height:47.0px;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
border-radius:10.0px;
border-width:1.0px;
border-style:SOLID;
border-color:rgba(0.0, 0.0, 0.0, 1.0);
}

#admin_username {
position:relative;
height:fit-content;
flex-grow:1;
flex-basis:0;
width:-webkit-fill-available;
padding-left:unset;
padding-right:unset;
resize:none;
background-color:rgba(0, 0, 0, 0);
outline:none;
border-width:0px;
font-family:Roboto;
font-weight:500;
font-size:20.0px;
letter-spacing:0.15000000596046448px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(66.00000366568565, 66.00000366568565, 66.00000366568565, 1.0);
display:flex;
}

#Admin_password {
position:relative;
flex-direction:column;
display:flex;
gap:10.0px;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_I41_778-11_4369-11_3883-10_232-9_234 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Roboto;
font-weight:400;
font-size:16.0px;
letter-spacing:0.15000000596046448px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
}

#_I41_778-11_4369-11_3883-10_232-9_235 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
align-items:center;
padding-left:10.0px;
padding-right:10.0px;
padding-top:10.0px;
padding-bottom:10.0px;
height:47.0px;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
border-radius:10.0px;
border-width:1.0px;
border-style:SOLID;
border-color:rgba(0.0, 0.0, 0.0, 1.0);
}

#admin_password {
position:relative;
height:fit-content;
flex-grow:1;
flex-basis:0;
width:-webkit-fill-available;
padding-left:unset;
padding-right:unset;
resize:none;
background-color:rgba(0, 0, 0, 0);
outline:none;
border-width:0px;
font-family:Roboto;
font-weight:500;
font-size:20.0px;
letter-spacing:0.15000000596046448px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(66.00000366568565, 66.00000366568565, 66.00000366568565, 1.0);
display:flex;
}

#_I41_778-11_4369-11_3883-9_241 {
position:relative;
flex-direction:column;
display:flex;
gap:10.0px;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_I41_778-11_4369-11_3883-9_241-9_234 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Roboto;
font-weight:400;
font-size:16.0px;
letter-spacing:0.15000000596046448px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
}

#_I41_778-11_4369-11_3883-9_241-9_235 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
align-items:center;
padding-left:10.0px;
padding-right:10.0px;
padding-top:10.0px;
padding-bottom:10.0px;
height:47.0px;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
border-radius:10.0px;
border-width:1.0px;
border-style:SOLID;
border-color:rgba(0.0, 0.0, 0.0, 1.0);
}

#steward_password {
position:relative;
height:fit-content;
flex-grow:1;
flex-basis:0;
width:-webkit-fill-available;
padding-left:unset;
padding-right:unset;
resize:none;
background-color:rgba(0, 0, 0, 0);
outline:none;
border-width:0px;
font-family:Roboto;
font-weight:500;
font-size:20.0px;
letter-spacing:0.15000000596046448px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(66.00000366568565, 66.00000366568565, 66.00000366568565, 1.0);
display:flex;
}

#Recaptcha {
position:relative;
flex-direction:column;
display:flex;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_I41_778-11_4369-11_3883-9_198-107_2685 {
position:relative;
flex-direction:column;
display:flex;
padding-top:10.0px;
padding-bottom:10.0px;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#Recaptcha_box {
position:relative;
flex-direction:column;
display:flex;
height:110.0px;
width:307.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_I41_778-11_4369-11_3883-106_2233 {
position:relative;
flex-direction:column;
display:flex;
justify-content:flex-end;
align-items:center;
padding-top:10.0px;
height:74.0px;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_I41_778-11_4369-11_3883-29_658 {
position:relative;
flex-direction:row;
display:flex;
padding-bottom:5.0px;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#error_message {
position:relative;
height:fit-content;
flex-grow:1;
flex-basis:0;
width:-webkit-fill-available;
width:-moz-available;
font-family:Roboto;
font-weight:500;
font-size:20.0px;
letter-spacing:0.15000000596046448px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(255.0, 0.0, 0.0, 1.0);
display:flex;
}

#submit {
cursor:pointer;
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
justify-content:center;
align-items:center;
padding-top:10.0px;
padding-bottom:10.0px;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(66.00000366568565, 66.00000366568565, 66.00000366568565, 1.0);
border-radius:10.0px;
}

#_I41_778-11_4369-11_3883-9_270-9_269 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Roboto;
font-weight:500;
font-size:14.0px;
letter-spacing:1.25px;
line-height:100.0%;
justify-content:CENTER;
align-items:start;
color:rgba(255.0, 255.0, 255.0, 1.0);
display:flex;
text-align:center;
}

