dmx-serverconnect {
display: none
}

html {
height:auto;
min-height:100vh !important;
}

body {
height:auto;
background-color:rgba(255.0, 255.0, 255.0, 1.0);
}

#database-reset-success_div {
height:auto;
min-height:100vh !important;
}

w-include {
height:0px !important;
}

#get_info {
display:none;
}

#is_admin {
display:none;
}

#is_user {
display:none;
}

#database-reset-success {
flex-direction:column;
display:flex;
gap:10.0px;
justify-content:center;
align-items:center;
padding-left:10.0px;
padding-right:10.0px;
padding-top:10.0px;
padding-bottom:10.0px;
height:inherit;
min-height:inherit;
background-color:rgba(255.0, 255.0, 255.0, 1.0);
}

#_41_908 {
position:relative;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
align-items:start;
justify-content:CENTER;
text-align:center;
}

#_41_909_link {
text-decoration:none;
height:fit-content;
width:fit-content;
}

#_41_909 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
align-items:start;
justify-content:CENTER;
text-align:center;
cursor:pointer;
}

