dmx-serverconnect {
display: none
}

html {
height:auto;
min-height:100vh !important;
}

body {
height:auto;
background-color:rgba(255.0, 255.0, 255.0, 1.0);
}

#manage_div {
height:auto;
min-height:100vh !important;
}

w-include {
height:0px !important;
}

#get_info {
display:none;
}

#is_admin {
display:none;
}

#is_user {
display:none;
}

#manage {
flex-direction:column;
display:flex;
align-items:center;
padding-left:10.0px;
padding-right:10.0px;
padding-top:10.0px;
padding-bottom:10.0px;
height:inherit;
min-height:inherit;
background-color:rgba(255.0, 255.0, 255.0, 1.0);
}

#info {
display:none;
position:relative;
}

#logout {
display:none;
position:relative;
}

#_214_787 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
justify-content:center;
padding-top:5.0px;
padding-bottom:5.0px;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_123_1677 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Roboto;
font-weight:400;
font-size:48.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:CENTER;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
text-align:center;
}

#_617_795 {
position:relative;
height:35.0px;
width:64.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

@media (max-width: 999px) { #_617_795 { display: none !important; }  }

#_188_1522 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
justify-content:center;
align-items:center;
padding-top:5.0px;
padding-bottom:5.0px;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

@media (max-width: 599px) { #_188_1522 { display: none !important; }  }

#_188_1521 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Roboto;
font-weight:400;
font-size:24.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:CENTER;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
text-align:center;
}

#user_count {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Roboto;
font-weight:400;
font-size:24.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:CENTER;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
text-align:center;
}

#_213_783 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
flex-wrap:wrap;
justify-content:center;
align-items:center;
padding-top:5.0px;
padding-bottom:20.0px;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

@media (max-width: 599px) { #_213_783 { display: none !important; }  }

#_213_784 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Roboto;
font-weight:400;
font-size:24.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:CENTER;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
text-align:center;
}

#login_count {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Roboto;
font-weight:400;
font-size:24.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:CENTER;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
text-align:center;
}

#_611_2308 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
justify-content:center;
align-items:center;
padding-top:5.0px;
padding-bottom:5.0px;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

@media (min-width: 600px) { #_611_2308 { display: none !important; }  }

#_611_2309 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Roboto;
font-weight:400;
font-size:16.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:CENTER;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
text-align:center;
}

#user_count_mobile {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Roboto;
font-weight:400;
font-size:16.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:CENTER;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
text-align:center;
}

#_611_2190 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
flex-wrap:wrap;
justify-content:center;
align-items:center;
padding-top:5.0px;
padding-bottom:20.0px;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

@media (min-width: 600px) { #_611_2190 { display: none !important; }  }

#_611_2191 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Roboto;
font-weight:400;
font-size:16.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:CENTER;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
text-align:center;
}

#login_count_mobile {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Roboto;
font-weight:400;
font-size:16.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:CENTER;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
text-align:center;
}

#_216_792 {
position:relative;
flex-direction:column;
display:flex;
gap:10.0px;
align-items:center;
padding-left:10.0px;
padding-right:10.0px;
padding-top:10.0px;
padding-bottom:10.0px;
height:369.0px;
width:fit-content;
background-color:rgba(255.0, 255.0, 255.0, 1.0);
border-width:1.0px;
border-style:SOLID;
border-color:rgba(0.0, 0.0, 0.0, 1.0);
}

@media (max-width: 599px) { #_216_792 { display: none !important; }  }

#_216_799 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Roboto;
font-weight:400;
font-size:24.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:CENTER;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
text-align:center;
}

#_219_801 {
position:relative;
flex-direction:column;
display:flex;
height:-webkit-fill-available;
flex-grow:1;
flex-basis:0;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
overflow-y:auto;
}

#_216_796 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
padding-bottom:5.0px;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_216_793 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
padding-left:10.0px;
padding-right:10.0px;
height:fit-content;
width:173.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_216_789 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Courier New;
font-weight:700;
font-size:12.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
}

#_216_794 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
padding-left:10.0px;
padding-right:10.0px;
height:fit-content;
width:208.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_216_790 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Courier New;
font-weight:700;
font-size:12.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
}

#_216_795 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
padding-left:10.0px;
padding-right:10.0px;
height:fit-content;
width:216.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_216_791 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Courier New;
font-weight:700;
font-size:12.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
}

#repeat_activity_row {
position:relative;
flex-direction:column;
display:flex;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_219_802 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_219_803 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
padding-left:10.0px;
padding-right:10.0px;
height:fit-content;
width:173.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#activity {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Courier;
font-weight:400;
font-size:12.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
}

#_219_805 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
padding-left:10.0px;
padding-right:10.0px;
height:fit-content;
width:208.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#email {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Courier;
font-weight:400;
font-size:12.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
}

#_219_807 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
padding-left:10.0px;
padding-right:10.0px;
height:fit-content;
width:216.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#when {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Courier;
font-weight:400;
font-size:12.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
}

#_611_2010 {
position:relative;
flex-direction:column;
display:flex;
gap:10.0px;
align-items:center;
padding-left:5.0px;
padding-right:5.0px;
padding-top:10.0px;
padding-bottom:10.0px;
height:369.0px;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(255.0, 255.0, 255.0, 1.0);
border-width:1.0px;
border-style:SOLID;
border-color:rgba(0.0, 0.0, 0.0, 1.0);
}

@media (min-width: 600px) { #_611_2010 { display: none !important; }  }

#_611_2011 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Roboto;
font-weight:400;
font-size:24.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:CENTER;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
text-align:center;
}

#_611_2012 {
position:relative;
flex-direction:column;
display:flex;
height:-webkit-fill-available;
flex-grow:1;
flex-basis:0;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
overflow-y:auto;
}

#_611_2013 {
position:relative;
flex-direction:row;
display:flex;
padding-bottom:5.0px;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_611_2014 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
height:fit-content;
width:80.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_611_2015 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Courier New;
font-weight:700;
font-size:8.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
}

#_611_2016 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
padding-left:5.0px;
padding-right:5.0px;
height:fit-content;
flex-grow:1;
flex-basis:0;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_611_2017 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Courier New;
font-weight:700;
font-size:8.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
}

#_611_2018 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
height:fit-content;
width:95.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_611_2019 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Courier New;
font-weight:700;
font-size:8.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
}

#repeat_activity_row_mobile {
position:relative;
flex-direction:column;
display:flex;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_611_2021 {
position:relative;
flex-direction:row;
display:flex;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_611_2022 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
height:fit-content;
width:80.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#activity_mobile {
position:relative;
height:fit-content;
flex-grow:1;
flex-basis:0;
width:-webkit-fill-available;
width:-moz-available;
font-family:Courier New;
font-weight:700;
font-size:8.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
}

#_611_2024 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
padding-left:5.0px;
padding-right:5.0px;
height:fit-content;
flex-grow:1;
flex-basis:0;
width:-webkit-fill-available;
width:-moz-available;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#email_mobile {
position:relative;
height:fit-content;
flex-grow:1;
flex-basis:0;
width:-webkit-fill-available;
width:-moz-available;
font-family:Courier New;
font-weight:700;
font-size:8.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
}

#_611_2026 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
height:fit-content;
width:95.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#when_mobile {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Courier New;
font-weight:700;
font-size:8.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
}

#_214_786 {
position:relative;
flex-direction:column;
display:flex;
gap:10.0px;
padding-left:10.0px;
padding-right:10.0px;
padding-top:30.0px;
padding-bottom:10.0px;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#Button {
cursor:pointer;
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
justify-content:center;
align-items:center;
padding-top:10.0px;
padding-bottom:10.0px;
height:fit-content;
width:243.0px;
background-color:rgba(66.00000366568565, 66.00000366568565, 66.00000366568565, 1.0);
border-radius:10.0px;
}

#_I189_698-9_269 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Roboto;
font-weight:500;
font-size:14.0px;
letter-spacing:1.25px;
line-height:100.0%;
justify-content:CENTER;
align-items:start;
color:rgba(255.0, 255.0, 255.0, 1.0);
display:flex;
text-align:center;
}

#_191_752_link {
text-decoration:none;
height:fit-content;
width:243.0px;
}

#_191_752 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
justify-content:center;
align-items:center;
padding-top:10.0px;
padding-bottom:10.0px;
height:fit-content;
width:243.0px;
background-color:rgba(66.00000366568565, 66.00000366568565, 66.00000366568565, 1.0);
border-radius:10.0px;
cursor:pointer;
}

#_I191_752-9_269 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Roboto;
font-weight:500;
font-size:14.0px;
letter-spacing:1.25px;
line-height:100.0%;
justify-content:CENTER;
align-items:start;
color:rgba(255.0, 255.0, 255.0, 1.0);
display:flex;
text-align:center;
}

#_191_740_link {
text-decoration:none;
height:fit-content;
width:243.0px;
}

#_191_740 {
position:relative;
flex-direction:row;
display:flex;
gap:10.0px;
justify-content:center;
align-items:center;
padding-top:10.0px;
padding-bottom:10.0px;
height:fit-content;
width:243.0px;
background-color:rgba(66.00000366568565, 66.00000366568565, 66.00000366568565, 1.0);
border-radius:10.0px;
cursor:pointer;
}

#_I191_740-9_269 {
position:relative;
height:fit-content;
width:fit-content;
white-space:nowrap;
font-family:Roboto;
font-weight:500;
font-size:14.0px;
letter-spacing:1.25px;
line-height:100.0%;
justify-content:CENTER;
align-items:start;
color:rgba(255.0, 255.0, 255.0, 1.0);
display:flex;
text-align:center;
}

