dmx-serverconnect {
display: none
}

html {
height:100%;
}

body {
height:100%;
}

#password-change-success_div {
height:100%;
}

w-include {
height:0px !important;
}

#get_info {
display:none;
}

#is_admin {
display:none;
}

#is_user {
display:none;
}

._33_157 {
flex-direction:column;
display:flex;
gap:10.0px;
justify-content:center;
align-items:center;
padding-left:10.0px;
padding-right:10.0px;
padding-top:10.0px;
padding-bottom:10.0px;
height:100%;
background-color:rgba(255.0, 255.0, 255.0, 1.0);
}

._41_1034 {
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
line-height:28.125px;
letter-spacing:0.0px;
font-family:Roboto;
font-weight:400;
font-size:24.0px;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
align-items:start;
justify-content:CENTER;
}

._41_1035 {
height:fit-content;
width:fit-content;
line-height:28.125px;
letter-spacing:0.0px;
font-family:Roboto;
font-weight:400;
font-size:24.0px;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
align-items:start;
justify-content:CENTER;
cursor:pointer;
}

