dmx-serverconnect {
	display: none
}



html {
height:100%;
}



#head {
}

























































































body {
height:100%;
}



#password-reset-request-success_div {
height:100%;
}





w-include {
height:0px !important;
}









#browser {
}



#notify {
}



#fonts {
}



._33_159 {
flex-direction:column;
display:flex;
gap:10.0px;
justify-content:center;
align-items:center;
padding-left:10.0px;
padding-right:10.0px;
padding-top:10.0px;
padding-bottom:10.0px;
height:100%;
background-color:rgba(255.0, 255.0, 255.0, 1.0);
}



._41_1156 {
min-height:84.0px;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
line-height:28.125px;
letter-spacing:0.0px;
font-family:Roboto;
font-weight:400;
font-size:24.0px;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
align-items:start;
justify-content:CENTER;
}



