dmx-serverconnect {
display: none
}

html {
height:auto;
min-height:100vh !important;
}

body {
height:auto;
background-color:rgba(255.0, 255.0, 255.0, 1.0);
}

#password-reset-request-success_div {
height:auto;
min-height:100vh !important;
}

w-include {
height:0px !important;
}

#get_info {
display:none;
}

#is_admin {
display:none;
}

#is_user {
display:none;
}

#password-reset-request-success {
flex-direction:column;
display:flex;
gap:10.0px;
justify-content:center;
align-items:center;
padding-left:10.0px;
padding-right:10.0px;
padding-top:10.0px;
padding-bottom:10.0px;
height:inherit;
min-height:inherit;
background-color:rgba(255.0, 255.0, 255.0, 1.0);
}

#_41_1156 {
position:relative;
height:fit-content;
width:-webkit-fill-available;
width:-moz-available;
font-family:Roboto;
font-weight:400;
font-size:24.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:CENTER;
align-items:start;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
text-align:center;
}

